.block_emergency_alerts.card {
	border: 0 none;
}
.block_emergency_alerts.active {
    width: 100%;
    margin-bottom: 30px !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.block_emergency_alerts .card-body {
	padding: 0 !important;
}
.block_emergency_alerts .card-body .block-controls {
	z-index: 999;
    position: relative;
}
.block_emergency_alerts .card-title {
    display: none;
}
.block_emergency_alerts.block_with_controls .card-title {
    display: block;
}
.block_emergency_alerts .alert {
	margin-bottom: 3px;
    min-height: 70px;
    padding: 30px;
}
.block_emergency_alerts .alert.alert-danger {
    color: #fff;
    background-color: #D32137;
}
.block_emergency_alerts .alert.alert-success {
    color: #fff;
    background-color: #64C94F;
}
.block_emergency_alerts .alert.alert-warning {
    color: #000;
    background-color: #FFCC00;
}
